// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btnglow {
  flex: 1 1 auto;
  width:20em;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 50px #eee;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;

  // animation
  	animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-name: pulse_animation;

 }
.btnglow:hover {
  background-position: right center; /* change the direction of the change here */
  color:white;
  // animation
  	animation:none;
}

.btnglow-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btnglow-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btnglow-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btnglow-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btnglow-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}


.btnglow-6 {
  background-image: linear-gradient(to right, #f0b3ff 0%, #ffecd2 51%, #f0b3ff 100%);
}

.btnglow-7 {
  background-image: linear-gradient(to right, #66b3ff 0%, #00ffff 51%, #66b3ff 100%);
}


.btnglow-8 {
  background-image: linear-gradient(to right, #99ffd6 0%, #00ff80 51%, #99ffd6 100%);
}

//cutebutton
//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
$bblue:  #67BCDB;

// Reset and Layout Styles







// Basic Button Style
.cutebtn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

//BUTTON 1
.cutebtnfirst {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px $red inset;
  }
}

//BUTTON 2
.cutebtnsecondv1 {
  border-radius: 3em;
  border-color: $turquoise;
  color: #fff;
  background: {
    image: linear-gradient(to right, 
      transparentize($turquoise, 0.4),
      transparentize($turquoise, 0.4) 5%,
      $turquoise 5%, 
      $turquoise 10%,
      transparentize($turquoise, 0.4) 10%,
      transparentize($turquoise, 0.4) 15%,
      $turquoise 15%, 
      $turquoise 20%,
      transparentize($turquoise, 0.4) 20%,
      transparentize($turquoise, 0.4) 25%,
      $turquoise 25%, 
      $turquoise 30%,
      transparentize($turquoise, 0.4) 30%,
      transparentize($turquoise, 0.4) 35%,
      $turquoise 35%, 
      $turquoise 40%,
      transparentize($turquoise, 0.4) 40%,
      transparentize($turquoise, 0.4) 45%,
      $turquoise 45%, 
      $turquoise 50%,
      transparentize($turquoise, 0.4) 50%,
      transparentize($turquoise, 0.4) 55%,
      $turquoise 55%, 
      $turquoise 60%,
      transparentize($turquoise, 0.4) 60%,
      transparentize($turquoise, 0.4) 65%,
      $turquoise 65%, 
      $turquoise 70%,
      transparentize($turquoise, 0.4) 70%,
      transparentize($turquoise, 0.4) 75%,
      $turquoise 75%, 
      $turquoise 80%,
      transparentize($turquoise, 0.4) 80%,
      transparentize($turquoise, 0.4) 85%,
      $turquoise 85%, 
      $turquoise 90%,
      transparentize($turquoise, 0.4) 90%,
      transparentize($turquoise, 0.4) 95%,
      $turquoise 95%, 
      $turquoise 100%);
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 100px;
  }
}




.cutebtnsecondv2 {
  border-radius: 3em;
  border-color: $bblue;
  color: #fff;
  background: {
    image: linear-gradient(to right, 
      transparentize($bblue, 0.4),
      transparentize($bblue, 0.4) 5%,
      $bblue 5%, 
      $bblue 10%,
      transparentize($bblue, 0.4) 10%,
      transparentize($bblue, 0.4) 15%,
      $bblue 15%, 
      $bblue 20%,
      transparentize($bblue, 0.4) 20%,
      transparentize($bblue, 0.4) 25%,
      $bblue 25%, 
      $bblue 30%,
      transparentize($bblue, 0.4) 30%,
      transparentize($bblue, 0.4) 35%,
      $bblue 35%, 
      $bblue 40%,
      transparentize($bblue, 0.4) 40%,
      transparentize($bblue, 0.4) 45%,
      $bblue 45%, 
      $bblue 50%,
      transparentize($bblue, 0.4) 50%,
      transparentize($bblue, 0.4) 55%,
      $bblue 55%, 
      $bblue 60%,
      transparentize($bblue, 0.4) 60%,
      transparentize($bblue, 0.4) 65%,
      $bblue 65%, 
      $bblue 70%,
      transparentize($bblue, 0.4) 70%,
      transparentize($bblue, 0.4) 75%,
      $bblue 75%, 
      $bblue 80%,
      transparentize($bblue, 0.4) 80%,
      transparentize($bblue, 0.4) 85%,
      $bblue 85%, 
      $bblue 90%,
      transparentize($bblue, 0.4) 90%,
      transparentize($bblue, 0.4) 95%,
      $bblue 95%, 
      $bblue 100%);
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 100px;
  }
}

//BUTTON 3
.cutebtnthird {
  border-color: $blue;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;
  
  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}

// BUTTON 4
.cutebtnfourth {
  // background: $yellow;
  border-color: $yellow;
  color: #fff;
  background: {
    image: linear-gradient(45deg,$yellow 50%, transparent 50%);
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;
  
  &:hover {
    background-position: 0;
  }
}

//BUTTON 5
.cutebtnfifth {
  border-color: $purple;
  // border: 0;
  border-radius: 0;
  color: $purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}


//BUTTON 6
.cutebtnsixth {
  border-radius: 3em;
  border-color: $green;
  color: $green;
  background: {
      image: linear-gradient(to bottom, transparent 50%, $green 50%);
      position: 0% 0%;
      size: 210%;
  }
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
  
  &:hover {
    color: #fff;
    background-position: 0 100%;
  }
}

// snazzy button
// Import font
@import 'https://fonts.googleapis.com/css?family=Lato';

// Colours
$bodybg: #674172;
$darkgrey: #333;
$whitegrey: #ececec;
$yellow: #f1c40f;
$turquoise: #1abc9c;
$red: #e74c3c;
$blue: #3498db;
$orange: #e67e22;


// Media queries to change body font size
// This then triggers other units in the doc to change size of elements

.snazzybuttons {
  display: flex;
  justify-content: space-around;
}
// Buttons
.snazzybtn {
  font-family: 'lato';
  font-size: 0.75rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 1.4em 3.3em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.snazzyround {
  border-radius: 24px;
}
.snazzysquare {
  border-radius: 0px;
}
// Button 1
.snazzybtn-one {
  border-color: $yellow;
  color: $darkgrey;
  box-shadow: 0 0 0 0 $yellow,
    inset 0 0 200px 28px $yellow;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 $yellow,
    inset 0 0 25px 0 $yellow;
  color: $yellow;
  }
}

.snazzybtn-one-sm-orange {
  font-family: 'lato';
  font-size: 0.6rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 1em 1em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  border-color: $orange;
  color: $darkgrey;
  box-shadow: 0 0 0 0 $orange,
    inset 0 0 200px 28px $orange;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 $orange,
    inset 0 0 25px 0 $orange;
  color: $orange;
  }
}

.snazzybtn-one-sm-blue {
  font-family: 'lato';
  font-size: 0.6rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 1em 1.1em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  border-color: $blue;
  color: $darkgrey;
  box-shadow: 0 0 0 0 $blue,
    inset 0 0 200px 28px $blue;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 $blue,
    inset 0 0 25px 0 $blue;
  color: $blue;
  }
}

.snazzybtn-one-sm-red {
  font-family: 'lato';
  font-size: 0.6rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 1em 1em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  border-color: $red;
  color: $darkgrey;
  box-shadow: 0 0 0 0 $red,
    inset 0 0 200px 28px $red;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 $red,
    inset 0 0 25px 0 $red;
  color: $red;
  }
}




.snazzybtn-onev1 {
  border-color: $blue;
  color: $darkgrey;
  box-shadow: 0 0 0 0 $blue,
    inset 0 0 200px 28px $blue;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
  box-shadow: 0 0 40px 0 $blue,
    inset 0 0 25px 0 $blue;
  color: $blue;
  }
}
// Button 2
.snazzybtn-two {
  color: $blue;
  border-color: $blue;
  box-shadow:  0 0 0 0 $blue, inset 0 0 0 0 $blue;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    color: $whitegrey;
    box-shadow: 0 0 40px 0 $blue, inset 0 0 200px 5px $blue;
  }
}
.snazzybtn-twov1 {
  color: $orange;
  border-color: $orange;
  box-shadow:  0 0 0 0 $orange, inset 0 0 0 0 $orange;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    color: $whitegrey;
    box-shadow: 0 0 40px 0 $orange, inset 0 0 200px 5px $orange;
  }
}
// Button 3
.snazzybtn-three {
  border-color: $turquoise;
  color: $whitegrey;
  background:{
    image: linear-gradient(45deg, $turquoise, transparent);
    position: 75%;
    size: 200%;
  }
  transition: background 300ms ease-in-out;
  &:hover {
    background:{
      position: 0%;
    }
  }
}


.snazzybtn-threev1 {
  font-family: 'lato';
  font-size: 1.1rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 0.9em 0.9em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  border-color: $turquoise;
  color: $whitegrey;
  background:{
    image: linear-gradient(45deg, $turquoise, transparent);
    position: 75%;
    size: 200%;
  }
  transition: background 300ms ease-in-out;
  &:hover {
    background:{
      position: 0%;
    }
  }
}
// Button 4
.snazzybtn-four {
  border-color: $red;
  color: $red;
  background:{
    image: linear-gradient(45deg, transparent 50%, $red 50%);
    position: 25%;
    size: 400%;
  }
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  &:hover {
    color: $whitegrey;
    background:{
      position: 100%;
    }
  }
}
// Button 5
.snazzybtn-five{
  border-color: $orange;
  background:{
    image: linear-gradient(0deg, transparent 50%, $orange 50%);
    position: 0 -100%;
    size: 500%;
  }
  transition: background 500ms ease-in-out, color 500ms ease-in-out, box-shadow 500ms ease-in-out;
  &:hover {
    color: $orange;
    background:{
      position: 0 -50%;
    }
    box-shadow: 0 0 40px 0 $orange;
  }
}

.snazzybtn-five-sm{
  font-family: 'lato';
  font-size: 0.6rem;
  background: none;
  border: 0.175em solid $whitegrey;
  padding: 0.8em 0.8em;
  color: $whitegrey;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  border-color: $red;
  background:{
    image: linear-gradient(0deg, transparent 50%, $red 50%);
    position: 0 -100%;
    size: 500%;
  }
  transition: background 500ms ease-in-out, color 500ms ease-in-out, box-shadow 500ms ease-in-out;
  &:hover {
    color: $red;
    background:{
      position: 0 -50%;
    }
    box-shadow: 0 0 50px 0 $red;
  }
}
// ! snazzy button